.container {
  border-radius: 25px;
  background-color: #cddef6;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.operator-container {
  border-radius: 25px;
  background-color: #cddef6;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.container h1 {
  padding-top: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  color: #3d4043;
  font-size: 60px;
  text-align: center;
}

.operator-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  color: #3d4043;
  font-size: 60px;
  text-align: center;
}

.select-numbers {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.operator-btns {
  margin: 20px 20px;
  flex-direction: row;
}

.btn-play {
  width: 230px;
  height: 40px;
  border-radius: 15px;
  border: none;
  font-size: 25px;
  text-transform: uppercase;
  background-color: #2d44f0;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  margin: 10px 10px;
  font-family: "Roboto", sans-serif;
}

.btn-play-operator {
  width: 230px;
  height: 40px;
  border-radius: 15px;
  border: none;
  font-size: 25px;
  text-transform: uppercase;
  background-color: #2d44f0;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  margin: 10px 10px;
  font-family: "Roboto", sans-serif;
}

.center-button {
  text-align: center;
}

.btn-play:hover {
  transform: scale(1.1, 1.1);
}

.active-number-btn:hover {
  transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 768px) {
  .container {
    height: 600px;
    padding-top: 15px;
  }

  .container h1 {
    font-size: 25px;
    padding-top: 18px;
    padding-bottom: 7px;
  }

  .operator-container h1 {
    font-size: 35px;
  }

  .btn-play {
    width: 120px;
    font-size: 15px;
    margin: 2px 2px;
  }

  .operator-container {
    height: 200px;
  }

  .btn-play-operator {
    width: 130px;
    height: 40px;
    font-size: 13px;
  }
  .center-button {
    padding-top: 7px;
  }
  .operator-btns {
    margin: 7px 7px;
  }
}
