.ticket-number {
  position: relative;
  border-radius: 25px;
  background-color: #cddef6;
  width: 45px;
  height: 45px;
  margin: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.winning-number {
  position: relative;
  border-radius: 25px;
  background-color: green;
  width: 45px;
  height: 45px;
  margin: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .ticket-number {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
  .winning-number {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
}
