.desc-cont {
  margin-top: 50px;
  width: 100%;
}

.desc-cont h1 {
  font-family: "Roboto", sans-serif;
  color: #3d4043;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.articles {
  min-height: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .desc-cont {
    margin-top: 25px;
    height: 20px;
  }

  .desc-cont h1 {
    font-size: 20px;
  }

  .articles {
    gap: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
