.desc-cont {
  margin-top: 50px;
  width: 100%;
}

.desc-cont h1 {
  font-family: "Roboto", sans-serif;
  color: #3d4043;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.articles {
  min-height: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.filter {
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.filter-btn {
  width: 100px;
  padding: 5px 6px;
  border-radius: 15px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #2d44f0;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  margin: 5px 5px;
  font-family: "Roboto", sans-serif;
}

.filter-btn:hover {
  transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 768px) {
  .desc-cont {
    margin-top: 25px;
    height: 20px;
  }

  .desc-cont h1 {
    font-size: 20px;
  }

  .articles {
    gap: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
